.Home__badges {
  margin: 12px 0;
}

.Home__badges > a:not(:first-child) {
  margin-left: 12px;
}

.Home__buttonWrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.Home button {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  background-color: var(--assort-color);
  font-size: 16px;
  color: var(--white);
  transition: background-color ease 0.6s;
}

.Home button:hover {
  background-color: var(--base-color);
}

.Home button:focus {
  outline: 1px dotted var(--base-color);
}

.Home__supportedBrowsers > img {
  width: 100%;
  height: auto;
}

.Home__playground {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.Home__playgroundInner {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.Home blockquote {
  font-style: italic;
}

pre.-copy {
  animation: highlight 0.6s linear 1 normal 0s backwards;
}

@keyframes highlight {
  /* stylelint-disable indentation */
    0% { background-color: #eee; }
   50% { background-color: #c000c0; }
  100% { background-color: #eee; }
  /* stylelint-enable indentation */
}
