.Header {
  position: relative;
  z-index: 1;
  padding: 30px 32px 32px 32px;
  background-color: var(--black-light);
}

.Header__forkMeOnGitHub {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}

.Header__headings {
  margin: 0 auto;
  max-width: 1600px;
}

.Header__title {
  font-size: 64px;
  font-weight: lighter;
  color: var(--assort-color);
  text-shadow: -1px -1px 1px var(--black);
}

.Header__title a {
  text-decoration: none;
}

.Header__subtitle {
  font-size: 32px;
  font-weight: 300;
  color: var(--assort-color);
  text-shadow: -1px -1px 1px var(--black);
}
