.Overview__heading {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.Overview__heading h2 {
  -webkit-flex-grow: 40;
  flex-grow: 40;
  font-size: 36px;
}

.Overview__types,
.Overview__returns,
.Overview__applicable {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-size: 16px;
  font-style: italic;
}

.Overview__types > span,
.Overview__returns > span,
.Overview__applicable > span {
  color: var(--assort-color);
}
